<mat-list role="list">
    <a mat-list-item routerLink="/signup" (click)="onClose()"><mat-icon>how_to_reg</mat-icon>
    <span>Sign Up</span></a>
    <a mat-list-item routerLink="/login" (click)="onClose()"><mat-icon>face</mat-icon>
        <span>Login</span></a>
    <a mat-list-item routerLink="/training" (click)="onClose()">
        <mat-icon>rowing</mat-icon>
        <span>Training</span></a>

        <a mat-list-item routerLink="/training" (click)="onClose()">
            <mat-icon>perm_identity</mat-icon>
            <span>Logout</span></a>
</mat-list>